<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
	<div class="container border border-dark p-5 mt-3 rounded">
		<!-- tip to easily see objects printed in full instead of [object Object] -->
		<% JSON.stringify(messages) %>
		<!-- based on the structure of your messages, determine how to display them -->
		<% if(messages.reg) { %>
		<% for (var x of messages.reg) { %>
		<p class="text-danger"><%= x %></p>
		<% } %>
		<% } %>
		<form action="/mongooses/new/process" method="POST">
			<div class="form-group">
				<label>Name of Species</label>
				<input type="text" name="species" class="form-control" placeholder="Name of species goes here!">
			</div>
			<div class="form-group">
				<label>Favorite Food</label>
				<input type="text" name="favorite_food" class="form-control" placeholder="Favorite food goes here!">
			</div>
			<input type="submit" class="btn btn-primary">
		</form>
	</div>
</body>

</html>